
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.App {
  font-family: 'Prompt', sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
